:root{
    --color1 :  rgb(11, 126, 69);
    --color2 :#FFF ;
    --color3 :#FF66D8 ;
    --color4 :#000000;
    --color5 :rgb(4, 44, 4);

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.menu_bar{
    height: 80px;
    background: var(--color1);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.logo{
    margin-top: 25px;
    color: var(--color2);
    font-size: 30px;
}
.logo2{
    margin-top: 10px;
    margin-left: -230px;
}
.logo span{
    color: var(--color4);
}
.menu_bar ul{
    display: flex;
    list-style: none;
}
.menu_bar ul li{
    margin-top: 20px;
    padding: 10px 30px;
    position: relative;
}
.menu_bar ul li a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color2);
    transition: all 0.3s;
}
.menu_bar ul li a:hover{
    color: var(--color4);
    font-size: 25px;
    font-weight: 600;
}
.dropdown_menu{
    display: none;
}
.dropdown_menu ul li a {
    color: var(--color4);
    font-size: 20px;
    font-weight: 600;
}
.dropdown_menu ul li a:hover{
    font-weight: 800;
    font-size: 25px;
}
.menu_bar ul li:hover .dropdown_menu{
    display: block;
    position: absolute;
    left: 0;
    margin-left: 50px ;
    top: 100%;
    width: 230px;
}
.menu_bar ul li:hover .dropdown_menu ul{
    display: block;
    margin: 20px;
}
.menu_bar ul li:hover .dropdown_menu ul li{
    width: 200px;
    padding: 10px;
}
.form {
    margin-left: 550px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height:500px;
    max-width: 500px;
    background-color: var(--color4);
    padding: 80px;
    border-radius: 10px;
    position: relative;
  }
  
  .message {
    color:var(--color4);
    font-size: 25px;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 12px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 2px solid var(--color1);
    border-radius: 5px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: var(--color4);
    font-size: 20px;
    font-weight: 600;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 20px;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: var(--color5);
  }
  
  .input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 2px solid var(--color1)
  }
  
  .form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: var(--color4);
    font-size:20px;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input01:placeholder-shown + span {
    top: 40px;
    font-size:20px;
    font-weight: 800;
  }
  
  .form label .input01:focus + span,.form label .input01:valid + span {
    top: 50px;
    font-size: 0;
    font-weight: 600;
  }
  
  .form label .input01:valid + span {
    color: var(--color5);
  }
  
  .fancy {
    background-color: transparent;
    border: 2px solid var(--color2);
    border-radius: 0px;
    box-sizing: border-box;
    color: var(--color5);
    cursor: pointer;
    display: inline-block;
    font-weight: 390;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
  }
  
  .fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: var(--color2);
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
  }
  
  .fancy .text {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
    color: var(--color2);
    transform: translateX(30%);
  }
  
  .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, left 0.3s ease-out;
  }
  
  .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .fancy:hover {
    color: white;
    background: #cacaca;
  }
  
  .fancy:hover::before {
    width: 1.5rem;
    background: white;
  }
  
  .fancy:hover .text {
    color: var(--color4);
    font-size: 20px;
    font-weight: 800;
    padding-left: 1.5em;
  }
  
  .fancy:hover .top-key {
    left: -2px;
    width: 0px;
  }
  
  .fancy:hover .bottom-key-1,
   .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
  }