:root{
    --color1 :  rgb(11, 126, 69);
    --color2 :#FFF ;
    --color3 :#FF66D8 ;
    --color4 :#000000;
    --color5 :rgb(4, 44, 4);

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    overflow: hidden;
}
section{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
}
.menu_bar{
    height: 80px;
    background: var(--color1);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.logo{
    margin-top: 25px;
    color: var(--color2);
    font-size: 30px;
}
.logo2{
    margin-top: 10px;
    margin-left: -220px;
}
.logo span{
    color: var(--color4);
}
.menu_bar ul{
    display: flex;
    list-style: none;
}
.menu_bar ul li{
    margin-top: 20px;
    padding: 10px 30px;
    position: relative;
}
.menu_bar ul li a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color2);
    transition: all 0.3s;
}
.menu_bar ul li a:hover{
    color: var(--color4);
    font-size: 25px;
    font-weight: 600;
}
.dropdown_menu{
    display: none;
}
.dropdown_menu ul li a {
    color: var(--color4);
    font-size: 20px;
    font-weight: 600;
}
.dropdown_menu ul li a:hover{
    font-weight: 800;
    font-size: 25px;
}
.menu_bar ul li:hover .dropdown_menu{
    display: block;
    position: absolute;
    left: 0;
    margin-left: 50px ;
    top: 100%;
    width: 230px;
}
.menu_bar ul li:hover .dropdown_menu ul{
    display: block;
    margin: 20px;
}
.menu_bar ul li:hover .dropdown_menu ul li{
    width: 200px;
    padding: 10px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.rating-wrapper{
    max-width: 60%;
    margin-left: 100px;
    margin-top: 100px;
    background-image: linear-gradient(to right , rgb(4, 44, 4) ,rgb(27, 74, 27));
    padding: 50px;
    border-radius: 5px;
    box-shadow: 8px 10px 5px var(--color4);
    height: 450px;
}
.rating-wrapper .rating-label{
    text-align: center;
    font-weight: 700;
    display: block;
}
.rating-wrapper .ratingItemList{
    max-width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}
.rating-wrapper input.rating{
    display: none;
}
.rating-wrapper label.rating{
    padding: 5px 3px;
    font-size: 35px;
    opacity: 0.10;
    filter: grayscale(1);
    cursor: pointer;
}
.rating-wrapper label.rating:hover{
    filter: grayscale(0.84);
    transform: scale(1.1);
    transform: 100ms ease;
}
.rating-wrapper input.rating:checked + label.rating{
    filter: grayscale(0);
    opacity: 1;
    transform: scale(1.1);
}
.feedback textarea, .feedback input{
    width: 60%;
    margin-top: 10px;
    /* display: none; */
}
.feedback textarea .feedback input{
    max-width: 400px;
    width: 60%;
    display: block;
    margin: 0.5 auto;
    padding: 0.5em;
    border: 1px solid var(--color4);
    border-radius: 5px;
}
.feedback input[type="text"]{
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}
.feedback textarea{
    margin-top: 20px;
    height: 120px;
    font-size: 20px;
    font-weight: 800;
}
.rating-label{
    color: var(--color2);
    font-size: 40px;
    margin-right: 50px;    
}
button{
    margin-top: 10px;
    color: var(--color2);
    background-color: var(--color4);
    border-radius: 11px;
    border: 0;
    padding: 15px 18px;
    font-size: 20px;
    font-weight: 800;
}

button:hover{
    background-color: var(--color2);
    color: var(--color1);
    text-transform: uppercase;
    text-decoration: underline;
}

button.not-disabled{
    color: var(--color4);
    background-color: var(--color2);
    cursor: pointer;
}

button.not-disabled:hover{
    background-color: var(--color2);
    transition: all 0.5s 0.1s;
}
::placeholder{
    color: black;
}